a {
    color: #0066c0;
}

img {
    width: 200px;
}

footer {
    margin-bottom: 30%;
}

#placeholder {
    margin: 2% auto 2%;
}


#btn-inner {
    background-color: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    border-width: 1px;
    border-radius: 3px;
    margin: 25px auto;
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    box-shadow: 0 1px 0 rgba(255,255,255,.6) inset;
}

#btn-outer {
    background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
    box-shadow: 0 1px 0 rgba(255,255,255,.6) inset;
    border-color: #CCCFD3;
    border-width: 1px;
    margin-bottom: 20%;
}

.container {
    border-style: solid;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 5px;
    padding: 20px 15px 12px;
}

.btn {
    color: #111;
}

.footer-link {
    margin: 0 1% 0.7%;
}



.align {
    text-align: center;
    margin: 0 auto;
    float: none;
}

p.align {
    margin-top: 20px;
}

.separator{
  display: flex;
  align-items: center;
  float: none; 
  margin: auto;
  color: #9E9E9D;
}

.separator h6{
  padding: 4px 30px 0;
  margin: 10px;
}

.separator .line{
  flex: 1;
  height: 1px;
  background-color: #CACACA;
}